
<div>
    <!-- <image src="../images/Pokemon-Logo.png" alt="Game Logo" id="deck-logo" /> -->
    <!-- <image src="../images/Yu-Gi-Oh!-Logo.png" alt="Game Logo" id="deck-logo" /> -->
    <!-- <image src="../images/Magic-The-Gathering-Logo.png" alt="Game Logo" id="deck-logo" /> -->
    {{game}}
</div>
<div id="deck-name">
    <h4>{{deck_name}}</h4>
</div>

<section>
    <div>

        <span class="game-span">{{{game}}}</span>
        <h4>Deck Name: {{deck_name}}</h4>

    </div>
</section>

<script src="/javascript/deck-info.js"></script>