<form class="search">
  <div>
    <textarea name="card-name"></textarea>
  </div>

  <div>
    <button type="submit">Search</button>
  </div>
</form>

<script src="/public/javasctript/magic.js"></script>
