
{{#if  }}

<form class="search">
  <div>
    <textarea name="card-name"></textarea>
  </div>

  <div>
    <button type="submit">Search</button>
  </div>
</form>

{{/if  }}
<script src="/public/javasctript/pokeapi.js"></script>
