<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
	<title>Table Top Warriors</title>
</head>

<body>
	<div>
		<header>
			<h1>
				<a href="/">Table Top Warriors</a>
				<image src="/images/TTW-Header-Logo.png" alt="Table Top Warriors Logo 2" href="/">
			</h1>
			<nav>
				{{!-- IF STATEMENT FOR DISPLAYING LOGIN OR LOGOUT BUTTON WILL GO HERE --}}
			</nav>
		</header>
		<main>
			{{{ body }}}
		</main>
		<footer>
			Thanks for visiting!
		</footer>
	</div>
</body>

</html>