<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
	<title>Table Top Warriors</title>
</head>

<body>
	<div>

		<div id="header">
			<div id="header-logo">
				<a href="/">
					<image src="/images/TTW-Header-Logo.png" alt="Table Top Warriors Logo 2" />
				</a>
			</div>
			{{#if loggedIn}}
			<a id="login-signup-btn" href="/dashboard">Dashboard</a>
			<a id="login-signup-btn" href="/" id="logout">Logout</a>
			{{else}}
			<a href="/login" id="login-signup-btn">Log In / Sign Up</a>
			{{/if}}
		</div>
		<main>
			{{{ body }}}
		</main>
		<footer>
			Thanks for visiting!
		</footer>
	{{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
	</div>
</body>

</html>