<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
	<title>Table Top Warriors</title>
</head>

<body>
	<div>
		<header>
			<h1>
				<a href="/">Table Top Warriors</a>
				<image src="/images/TTW-Header-Logo.png" alt="Table Top Warriors Logo 2" href="/">
			</h1>
			<nav>
				{{#if loggedIn}}
				{{!-- If user is logged in display logout button --}}
				<a href="/dashboard">Dashboard</a>
				<button id="logout">Logout</button>
				{{else}}
				{{!-- If user is not logged in display link to login page --}}
				<a href="/login">Login</a>
				{{/if}}
			</nav>
		</header>
		<main>
			{{{ body }}}
		</main>
		<footer>
			Thanks for visiting!
		</footer>
	</div>
	{{#if loggedIn}}
	{{!-- if user is logged in attatch front end js for logging out --}}
	<script src="/javascript/logout.js"></script>
	{{/if}}
</body>

</html>