<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
<<<<<<< HEAD
    <link rel="stylesheet" href="/stylesheets/style.css">
=======
>>>>>>> 479cca6f3539519cf979a3a3085240a5f6396133
	<title>Table Top Warriors</title>
</head>

<body>
	{{{ body }}}
</body>

</html>