<header>
    <image src="../public/images/TTW-Header-Logo.png" alt="Table Top Warriors Logo 2" href="/" />
</header>

<h1>Deck Collection</h1>

<ul>
    <li>
        {{!-- Game Logo --}}

        {{!-- Deck Name --}}

        <button>View/Edit</button>
        <button>Delete Deck</button>
    </li>

    <li>
        {{!-- Game Logo --}}

        {{!-- Deck Name --}}

        <button>View/Edit</button>
        <button>Delete Deck</button>
    </li>

    <li>
        {{!-- Game Logo --}}

        {{!-- Deck Name --}}

        <button>View/Edit</button>
        <button>Delete Deck</button>
    </li>
</ul>