<h1 id="dc">Deck Collection</h1>

    {{#if decks.length}}
    <section class="collection">
        <div class="deck">
            {{#each decks as |deck|}}
            <div>
                {{> deck-info deck}}
            </div>
            <div>
                <button href="/dashboard/edit/{{deck.id}}" id="viewedit-btn">View/Edit</button>
            </div>

            <div>
                <button id="delete-deck-btn">Delete</button>
            </div>
            {{/each}} 
        </div>
    </section>
    {{/if}}