<section class="edit-screen">
    <div>
        <h2>Game:</h2>
        <!-- handlebars tag for game logo deck is already built with -->
    </div>

{{#each cards as |card|}}
    <div>
        {{>card-info card}}
    </div>
{{/each}}

<div>
    <label>Card Search:</label>
    <input name="card-name"/>
    <button>Enter</button>
    <h4>Type a word, phrase, or full card name and hit enter to search</h4>
</div>

    <div>
        <h4>Type a word, phrase, or full card name and hit enter to search</h4>
        <label>Card Search:</label>
        <input name="card-name"/>
        <button>Enter</button>
    </div>

    <div>
        <h2>Decklist:</h2>
        <textarea name="decklist" class="decklist-box"></textarea>
    </div>

    <button>Edit Deck</button>
</section>