<section class="edit-screen">
    <form class="edit-deck-form">
        <div>
            <input name="deck-name" type="text" value="{{cards.0.deck.deck_name}}" /> 
            <button type="submit">Save Deck Name</button>
        </div>
    </form> 

    <div>
        <label>Card Search:</label>
        <input name="card-name"/>
        <button>Enter</button>
        <h4>Type a word, phrase, or full card name and hit enter to search</h4>
    </div>

    {{#each cards as |card|}}
        <div>
            {{>card-info card}}
        </div>
    {{/each}}
</section>

<script src="/javascript/add-card.js"></script>
<script src="/javascript/delete-card.js"></script>
<script src="/javascript/edit-deck.js"></script>
