<form class="new-deck-form">
    <label for="game-name">Choose a Game:</label>
    <select name="game-name" id="game-name">
        <option value="Pokemon">Pokemon</option>
        <option value="YuGiOh">YuGiOh!</option>
        <option value="Magic: The Gathering">Magic: The Gathering</option>
    </select>
    <br>
    <label for="deck-name">Deck Name:</label>
    <input type="text" id="deck-name" name="deck-name">
    <br>
    <button type="submit">Create Deck</button>
</form>

<script src="/javascript/add-deck.js"></script>