<div>
    Deck Name: {{cards.0.deck.deck_name}}
    
</div>
============
{{#each cards as |card|}}
    <div>
        {{>card-info card}}
    </div>
{{/each}}

<div>
    <label>Card Search:</label>
    <input name="card-name"/>
    <button>Enter</button>
    <h4>Type a word, phrase, or full card name and hit enter to search</h4>
</div>

<div>
    {{!-- Card Search Box --}}
</div>

<script src="/javascript/delete-card.js"></script>