<section class="edit-screen">
    <div>
        Deck Name: {{cards.0.deck.deck_name}}
    </div>
 
    <div>
        <label>Card Search:</label>
        <input name="card-name"/>
        <button>Enter</button>
        <h4>Type a word, phrase, or full card name and hit enter to search</h4>
    </div>

    {{#each cards as |card|}}
        <div>
            {{>card-info card}}
        </div>
    {{/each}}
</section>

<script src="/javascript/delete-card.js"></script>
