<div>
    <button>Game:</button>
    {{!-- Already Selected Game --}}
</div>

<div>
    <label>Deck Name:</label>
    <input />
</div>

<div>
    <label>Card Search:</label>
    <input name="card-name"/>
    <button>Enter</button>
    <h4>Type a word, phrase, or full card name and hit enter to search</h4>
</div>

<div>
    {{!-- Card Search Box --}}
</div>

<div>
    <h2>Decklist:</h2>
    <div>
        {{!-- Decklist box --}}
    </div>
</div>

<button>Edit Deck</button>