<h1>
    This is just a placeholder homepage, but we will need one. Maybe it would just have a card search that anyone can use without having to log in.
    Or it could just be a pretty page. We just need a page to display.
</h1>