<form id="home-search">
    <input type="text" placeholder="Search Card Name Here" id="search-box" name="card-name" />
    <select name="game-select" id='game-select' required>
        <option value="">Select a Game</option>
        <option value="pokemon" >Pokemon</option>
        <option value="yugi">YuGiOh!</option>
        <option value="magic">Magic: The Gathering</option>
    </select>
    <button type="submit" id="home-search-btn">Search</button>
</form>
<video id="webcam" autoplay playsinline width="640" height="480"></video>
<div>
    <canvas id="canvas" class="d-none">
    </canvas>
        <button id='take-pic' type="button" onclick="camera()"></button>
        <img id="downloaded-photo"></img>
</div>
<div id='cardbox'>
</div>
<section class="home-game-logos">
    <image src="/images/Pokemon-Logo.png" alt="Pokemon Logo" id="home-pokemon" />
    <image src="/images/Magic-The-Gathering-Logo.png" alt="MTG Logo" id="home-mtg" />
    <image src="/images/Yu-Gi-Oh!-Logo.png" alt="Yu-Gi-Oh! Logo" id="home-yugioh" />
</section>

<script src="/javascript/poke.js"></script>



