<div id="header">
    <div id="header-logo">
        <a href="/">
            <image src="/images/TTW-Header-Logo.png" alt="Table Top Warriors Logo 2" />
        </a>
    </div>
    <div id="login-signup-btn">
        <button>Log In/Sign Up</button>
    </div>
</div>

<section>
    <input type="text" placeholder="Search.." />
    <button type="submit">Submit</button>
</section>