{{!-- <div id="header">
    <div id="header-logo">
        <a href="/">
            <image src="/images/TTW-Header-Logo.png" alt="Table Top Warriors Logo 2" />
        </a>
    </div>
       
    <button id="login-signup-btn">Log In / Sign Up</button>
</div> --}}
    
<section class="home-search">
    <input type="text" placeholder="Search Card Name Here" id="search-box" name="card-name"/>
    <button type="submit" id="home-search-btn">Search</button>
</section>
<div id='cardbox'>
    <img src='' id="card-pic" />
</div>
<section class="home-game-logos">
    <image src="/images/Pokemon-Logo.png" alt="Pokemon Logo" id="home-pokemon" />
    <image src="/images/Magic-The-Gathering-Logo.png" alt="MTG Logo" id="home-mtg" />
    <image src="/images/Yu-Gi-Oh!-Logo.png" alt="Yu-Gi-Oh! Logo" id="home-yugioh" />
</section>

<script src="/javascript/poke.js"></script>
<script src="/javascript/magic.js"></script>
<script src="/javascript/yugi.js"></script>