<header>
    <image src="../public/images/TTW-Header-Logo.png" alt="Table Top Warriors Logo 2" href="/" />
    <button>Sign Up</button>
</header>

<image src="../public/images/Table-Top-Warriors-Logo.png" alt="Table Top Warriors Logo" />

<form>
    <div>
        <label>Email:</label>
        <input />
    </div>

    <div>
        <label>Username:</label>
        <input />
    </div>

    <div>
        <label>Password:</label>
        <input />
    </div>

    <div>
        <label>Confirm Password:</label>
        <input />
    </div>

    <button>Sign Up</button>
</form>