<div class="user-btns">
    <button id="create-a-deck">Create A Deck</button>
    <button id="view-deck-collection">Deck Collection</button>
</div>

<section class="home-game-logos">
    <image src="/images/Pokemon-Logo.png" alt="Pokemon Logo" id="home-pokemon" />
    <image src="/images/Magic-The-Gathering-Logo.png" alt="MTG Logo" id="home-mtg" />
    <image src="/images/Yu-Gi-Oh!-Logo.png" alt="Yu-Gi-Oh! Logo" id="home-yugioh" />
</section>

<script src="/javascript/user-home.js"></script>

