<header>
    <image src="../public/images/TTW-Header-Logo.png" alt="Table Top Warriors Logo 2" href="/" />
</header>

<div>
    <button>Create A Deck</button>
    <button>Your Deck Collection</button>
</div>