:root {
    --primary-color: #3C2FFE;
    --secondary-color: #6229E6;
    --tertiary-color: #858585;
    --quaternary-color: #000000;
    --quinary-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    font-family: Helvetica, Arial, sans-serif;
}

#header {
    background-color: var(--tertiary-color);
    border-bottom: 1px solid var(--quinary-color);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    display: flex;
    padding: 10px 0 10px 15px;
    height: auto;
    width: 15%;
}

#login-signup-btn {
    color: var(--quinary-color);
    background-color: var(--primary-color);
    font-size: 24px;
    padding: 10px;
    margin-right: 20px;
    border: 4px solid var(--primary-color);
    border-radius: 15px;
    display: flex;
    height: auto;
    width: auto;
}

#login-signup-btn:hover {
    background-color: var(--quinary-color);
    color: var(--quaternary-color);
}

.forms {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
}

#main-logo {
    height: 350px;
    margin: 60px 60px 60px 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.login-form {
    background-color: var(--quinary-color);
    border: 4px solid var(--tertiary-color);
    border-radius: 8px;
    align-items: center;
    padding: 48px 40px 48px 20px;
}

.login-form label {
    display: inline-block;
    text-align: center;
    width: 136px;
    padding-bottom: 30px;
}

.login-form button {
    color: var(--quinary-color);
    background-color: var(--primary-color);
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 5px;
    opacity: 0.6;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.login-form button:hover {
    opacity: 1;
}

.signup-form {
    background-color: var(--quinary-color);
    border: 4px solid var(--tertiary-color);
    border-radius: 8px;
    align-items: center;
    padding: 20px 40px 20px 20px;
}

.signup-form label {
    display: inline-block;
    text-align: center;
    width: 136px;
    padding-bottom: 20px;
}


.signup-form button {
    color: var(--quinary-color);
    background-color: var(--primary-color);
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 5px;
    opacity: 0.6;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.signup-form button:hover {
    opacity: 1;
}

.home-search {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align:center;
    margin: 150px;
    padding: 40px;
    border: 4px solid var(--quaternary-color);
    border-radius: 15px;
    background-color: var(--tertiary-color);
}

#search-box {
    font-size: 18px;
    color: var(--quaternary-color);
    padding: 5px;
    width: 50%;
    border-radius: 8px;
    border: 0px;
}

#home-search-btn {
    margin-left: 10px;
    font-size: 18px;
    padding: 5px;
    color: var(--quinary-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    display: block;
}

#home-search-btn:hover {
    color: var(--quaternary-color);
    background-color: var(--quinary-color);
}

.home-game-logos {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
    align-content: center;
}

#home-pokemon {
    height: 20%;
    width: 20%;
}

#home-mtg {
    height: 20%;
    width: 20%;
}

#home-yugioh {
    height: 20%;
    width: 20%;
}

.user-btns {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
    align-content: center;
}

#create-btn {
    font-size: 28px;
    padding: 10px 18px 10px 18px;
    border: 2px solid var(--quinary-color);
    background-color: var(--quinary-color);
    border-radius: 8px;
    margin: 300px 0 200px 0;
}

#create-btn:hover {
    background-color: var(--tertiary-color);
}

#collection-btn {
    font-size: 28px;
    padding: 10px;
    border: 2px solid var(--quinary-color);
    background-color: var(--quinary-color);
    border-radius: 8px;
    margin: 300px 0 200px 0;
}

#collection-btn:hover {
    background-color: var(--tertiary-color);
}